{% extends '__base.html' %}

{% load staticfiles i18n %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'js/friends/invitations/invitation_list.js' %}" type="text/javascript"></script>
{% endblock %}

{% block right_menu %}
    {% include 'friends/_right_menu.html' %}
{% endblock %}

{% block header %}
    {% trans 'Invitations' %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="table-responsive col-md-8">
            <ul class="nav nav-tabs">
                <li role="presentation" {% ifequal request.GET.status 'received' %}class="active" {% endifequal %}><a
                        href="?status=received">{% trans "Received" %}</a></li>
                <li role="presentation" {% ifequal request.GET.status 'sent' %}class="active"{% endifequal %}><a
                        href="?status=sent">{% trans "Sent" %}</a></li>
            </ul>
            <br>
            <br>
            {% ifequal request.GET.status 'received' %}
                {% include 'friends/_invitation_received_table.html' %}
                {% else %}
                {% include 'friends/_invitation_sent_table.html' %}
            {% endifequal %}
        </div>
    </div>
{% endblock %}