{% load staticfiles %}
{% load bootstrap %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="shortcut icon" href="{% static "images/page_logo.png" %}">
    <title>
        {% block title %}{% trans "My Calendar" %}{% endblock %}
    </title>
    {% block stylesheets %}
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    {% endblock %}
    {% block javascript %}
    {% endblock %}
    {% block extra_head %}{% endblock %}
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'register' %}">MyCalendar</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'register' %}">Sign up</a></li>
                <li><a href="{% url 'login' %}">Sign in</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="row">
    <br>

    {% block content %}
    {% endblock %}
</div>
</body>
</html>