{% extends 'registration/__auth_base.html' %}

{% load staticfiles %}
{% load bootstrap %}
{% load i18n %}

{% block stylesheets %}
    {{ block.super }}
    <link href="{% static 'css/registration/auth_base.css' %}" rel="stylesheet">
{% endblock %}

{% block information %}
{% endblock %}

{% block content %}
    <div class="col-md-4 col-md-offset-4">
        <form method="post" action="">
            {% csrf_token %}
            <h1>{% trans "Please sign in" %}</h1>
            <br>
            {% include '_form.html' with form=form labels=False %}
            <button type="submit" class="btn btn-primary form-control">{% trans "Sign in" %}</button>
        </form>
    </div>
{% endblock %}