{% csrf_token %}
{% for error in form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
{% endfor %}
{% for field in form %}
    <div class="form-group {% if field.errors %}has-error{% endif %}">
        {% if labels %}
            <label class="control-label" for="{{ field.id_for_label }}">{{ field.html_name | title }}</label>
        {% endif %}
        {% if 'class' in field.field.widget.attrs and 'datepicker' in field.field.widget.attrs.class %}
            <div class="col-md-6 datepicker-widget input-group date">
                {{ field }}
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
            </div>
            {% for error in field.errors %}
                <span class="help-block ">{{ error }}</span>
            {% endfor %}
        {% else %}
            <div>
                {{ field }}
                {% for error in field.errors %}
                    <span class="help-block ">{{ error }}</span>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endfor %}