{% extends '__base.html' %}

{% load staticfiles i18n %}

{% block javascript %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/fullcalendar.css' %}"/>
    <script src="{% static 'js/moment.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/fullcalendar.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/event_calendar.js' %}" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $('#calendar').fullCalendar({
                events: '{% url "events:list-json" %}'
{#                events: [#}
{#                    {% for event in event_list %}#}
{#                        {#}
{#                            title: '{{ event.title }}',#}
{#                            start: '{{ event.start | date:"SHORT_DATE_FORMAT" }}',#}
{#                            end : '{{ event.end | date:"SHORT_DATE_FORMAT"  }}',#}
{#                            color: '{{ event.category.color }}'#}
{#                        },#}
{#                    {% endfor %}#}
{#                ]#}
            })
        });
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <div id="calendar"></div>
        </div>
    </div>
{% endblock %}