{% extends '__base.html' %}

{% load i18n bootstrap staticfiles %}

{% block right_menu %}
    {% include 'events/_right_menu.html' %}
{% endblock %}

{% block header %}
    {% trans 'Add event category' %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8">

            {% include '_messages.html' %}

            <form method="post">
                {% csrf_token %}
                {{ form | bootstrap }}
                <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
            </form>
        </div>
    </div>
{% endblock %}
