{% extends '__base.html' %}

{% load i18n bootstrap staticfiles %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static "css/bootstrap-datepicker.min.css" %}" type="text/css"/>
    {{ block.super }}
{% endblock %}

{% block right_menu %}
    {% include 'events/_right_menu.html' %}
{% endblock %}

{% block header %}
    {% trans 'Add event' %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            {% include '_messages.html' %}

            <form method="post">
                {% include '_form.html' with form=form labels=True %}
                <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
            </form>
        </div>
    </div>
{% endblock %}
