{% extends '__base.html' %}

{% load i18n bootstrap staticfiles %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static "css/bootstrap-datepicker.min.css" %}" type="text/css"
          xmlns="http://www.w3.org/1999/html"/>
    {{ block.super }}
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'js/moment.min.js' %}" type="text/javascript"></script>
    <script src="{% static "js/bootstrap-datepicker.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/events/event_edit_form.js" %}" type="text/javascript"></script>
{% endblock %}

{% block right_menu %}
    {% include 'events/_right_menu.html' %}
{% endblock %}

{% block header %}
    {% trans 'Edit event' %}
{% endblock %}

{% block content %}
    {% include '_messages.html' %}


    <form action="{% url 'events:edit-event' form.instance.user.username form.instance.slug %}" method="post">
        {% include '_form.html' %}
        <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
        <a class="btn btn-danger" href="{% url 'events:delete-event' form.instance.user.username form.instance.slug %}">{% trans "Delete" %}</a>
    </form>
{% endblock %}
